
    {% extends 'base.html' %} {% block title %}Properties {% endblock %}
    {% block content %}

    <h2
      class="text-center mt-6 text-2xl font-semibold text-gray-800"
      style="font-family: 'Martian Mono', monospace; font-optical-sizing: auto"
    >
      Explore Properties Here for Book
    </h2>
    {% if messages %}
    <div class="bg-red-500 text-white text-center mx-10 py-4 rounded-lg my-6">
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}

    <div class="max-w-[100rem] mx-auto mt-12 flex gap-6">
      <div class="w-1/4">
        <div class="bg-white shadow-lg rounded-lg p-4">
          <h3 class="text-xl font-semibold text-gray-800 mb-4">Sort Properties</h3>
          <a href="?sort_by=location&order=asc" class="block py-2 px-4 text-gray-700 hover:bg-gray-100">Sort by District (A-Z)</a>
          <a href="?sort_by=location&order=desc" class="block py-2 px-4 text-gray-700 hover:bg-gray-100">Sort by District (Z-A)</a>
          <a href="?sort_by=price&order=asc" class="block py-2 px-4 text-gray-700 hover:bg-gray-100">Sort by Price (Low to High)</a>
          <a href="?sort_by=price&order=desc" class="block py-2 px-4 text-gray-700 hover:bg-gray-100">Sort by Price (High to Low)</a>
        </div>
      </div>
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
        {% for p in property %}
        <div class="bg-white shadow-xl rounded-lg overflow-hidden">
          <a href="{% url 'propertydetails' p.id %}">
            <div class="bg-cover bg-center h-56 p-4 relative">
              <img
                src="{{ p.image_1.url }}"
                alt="Property Image"
                class="w-full h-full object-cover"
              />
              <div class="absolute top-4 right-4">
                <svg
                  class="h-6 w-6 text-white fill-current"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                >
                  <path
                    d="M12.76 3.76a6 6 0 0 1 8.48 8.48l-8.53 8.54a1 1 0 0 1-1.42 0l-8.53-8.54a6 6 0 0 1 8.48-8.48l.76.75.76-.75zm7.07 7.07a4 4 0 1 0-5.66-5.66l-1.46 1.47a1 1 0 0 1-1.42 0L9.83 5.17a4 4 0 1 0-5.66 5.66L12 18.66l7.83-7.83z"
                  ></path>
                </svg>
              </div>
            </div>
          </a>
          <div class="p-4">
            <p class="uppercase tracking-wide text-sm font-bold text-gray-700">
              {{ p.name }}
            </p>
            <p class="text-3xl text-gray-900">{{ p.address }}, {{p.location}}</p>
            <p class="text-gray-700">{{ p.price }} lac</p>
            <div class="flex justify-between mt-4 text-gray-600">
              <div class="flex items-center">
                <svg
                  class="h-6 w-6 fill-current mr-2"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                >
                  <path
                    d="M0 16L3 5V1a1 1 0 0 1 1-1h16a1 1 0 0 1 1 1v4l3 11v5a1 1 0 0 1-1 1v2h-1v-2H2v2H1v-2a1 1 0 0 1-1-1v-5zM19 5h1V1H4v4h1V4a1 1 0 0 1 1-1h4a1 1 0 0 1 1 1v1h2V4a1 1 0 0 1 1-1h4a1 1 0 0 1 1 1v1zm0 1v2a1 1 0 0 1-1 1h-4a1 1 0 0 1-1-1V6h-2v2a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1V6H3.76L1.04 16h21.92L20.24 6H19zM1 17v4h22v-4H1zM6 4v4h4V4H6zm8 0v4h4V4h-4z"
                  ></path>
                </svg>
                <p>
                  <span class="font-bold">{{ p.num_of_rooms }}</span>
                  Bedrooms
                </p>
              </div>
              <div class="flex items-center">
                <svg
                  class="h-6 w-6 fill-current mr-1"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                >
                <path
                d="M12 2C8.13 2 5 5.13 5 8.5c0 3.1 2.2 6.68 5 9.78 2.8-3.1 5-6.68 5-9.78 0-3.37-3.13-6.5-7-6.5zm0 9c-1.1 0-2-.9-2-2s.9-2 2-2 2 .9 2 2-.9 2-2 2z"
              ></path>
                </svg>
                <p>
                  <span class="font-bold">{{ p.location }}</span>
                  
                </p>
              </div>
            </div>
            <div class="flex flex-col sm:flex-row justify-center items-center gap-4 mt-4 ">
              <a
                href="{% url 'propertydetails' p.id%}"
                class=" bg-gray-900 text-white text-center px-6 py-2 rounded-lg font-semibold hover:bg-gray-700 transition duration-300 {% if not is_landlord %}w-full{% endif %}"
                >View Details</a
              >
              {% if user.is_authenticated and is_landlord  %}  
              <a
                href="{% url 'update_property' p.id %}"
                class="bg-blue-500 text-white text-center px-6 py-2 rounded-lg font-semibold hover:bg-gray-700 transition duration-300"
          >
           Update Property
          </a>
             
          <a
          href="{% url 'delete_property' p.id %}"
          class="bg-red-500 text-white text-center px-6 py-2 rounded-lg font-semibold hover:bg-gray-700 transition duration-300"
        >
         Delete Property
        </a>
        {% endif %}
            </div>
           
           
          </div>
        </div>
       
        {% endfor %}
      </div>
    </div>


    <div
      class="relative mt-12 font-[sans-serif] before:absolute before:w-full before:h-full before:inset-0 before:bg-black before:opacity-50 before:z-10"
      style="font-family: 'Martian Mono', monospace; font-optical-sizing: auto"
    >
      <img
        src="https://images.unsplash.com/photo-1706640254398-3b04782e8c76?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt="Banner Image"
        class="absolute inset-0 w-full h-full object-cover"
      />
      <div
        class="min-h-[300px] relative z-50 h-full max-w-6xl mx-auto flex flex-col justify-center items-center text-center text-white p-6"
      >
        <h2 class="sm:text-4xl text-2xl font-bold mb-6">
          Dhaka's Secondary Property Market
        </h2>
        <p class="text-lg text-center text-gray-200">
          Anticipated trends in 2024!!!!!
        </p>
        
          
      
        <a
          href="{% url 'add_property' %}"
          class="mt-8 bg-transparent text-white text-base font-semibold py-2.5 px-6 border-2 border-white rounded hover:bg-white hover:text-black transition duration-300 ease-in-out"
        >
         Add Property
        </a>
       
      </div>
    </div>
    {% endblock %}
  </body>
</html>